.about-texts__wrapper b {
  display: table;
  @include subtitle;
  margin-bottom: 16px;

  @media (max-width: $tablet) {
    @include subtitle;
  }

  @media (max-width: $mobile) {
    @include subtitle;
    margin-bottom: 15px;
  }
}

.about-texts__wrapper p {
  margin: 12px 0 25px;
  @include regular-text;
}

.about-texts__title {
  margin: 0;
  margin-bottom: 57px;

  @media (max-width: $tablet) {
    @include small-title;
  }

  @media (max-width: $mobile) {
    @include small-title;
    margin-bottom: 25px;
  }
}
