.about-texts__wrapper b {
  @include subtitle;
  margin-bottom: 20px;

  @media (max-width: $tablet) {
    @include subtitle-tablet;
  }
}

.about-texts__wrapper p {
  margin-bottom: 25px;
  @include regular-text;
}

.about-texts__title {
  margin: 0;
  margin-bottom: 57px;

  @media (max-width: $tablet) {
    @include small-title-tablet;
  }
}
