.about {
  padding-top: 85px;
  position: relative;
}

.about__container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.about img {
  position: absolute;
  left: 0;
  top: 60px;
  z-index: -1;
}

.about__texts {
  padding-left: 15px;
}
