.about {
  padding-top: 85px;
  position: relative;

  @media (max-width: $tablet) {
    padding-top: 0;
  }
}

.about__container {
  display: grid;
  grid-template-columns: 50% 50%;

  @media (max-width: $mobile) {
    display: block;
    position: static;
  }
}

.about img {
  position: absolute;
  left: 0;
  top: 60px;
  z-index: -1;

  @media (max-width: $tablet) {
    width: 100%;
    top: -22px;
  }
}

.about__texts {
  padding-left: 15px;

  @media (max-width: $tablet) {
    padding-left: 68px;
  }

  @media (max-width: $mobile) {
    padding-left: 15px;
  }
}
