.contacts {
  padding: 87px 0 45px;

  @media (max-width: $tablet) {
    padding-top: 59px;
  }
}

.contacts__title {
  margin: 0 0 23px 0;

  @media (max-width: $tablet) {
    @include small-title;
    margin-bottom: 17px;
  }
}

.contacts__texts-wrapper {
  width: 40%;
}

.contacts__texts-wrapper p {
  @include smaller-text;
  margin: 0 0 50px;

  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 30px;
    width: 50%;
  }
}

.contacts__cover {
  display: grid;
  gap: 8px;
}

.contacts__detail-block {
  max-width: 500px;

  @media (max-width: $tablet) {
    max-width: 100%;
  }

  @media (max-width: $mobile) {
    margin-left: 45px;
  }
}

.contacts__detail-block p {

  @media (max-width: $tablet) {
    width: 71%;
  }
}
.contacts__cover span {
  @include semibold;

  @media (max-width: $tablet) {
    @include smallbold;
    font-size: 16px;
  }

  @media (max-width: $mobile) {
    @include semibold;
  }
}

.contacts__cover a {
  @include smaller-text;

  @media (max-width: $tablet) {
    @include regular-text;
  }

  @media (max-width: $mobile) {
    @include smaller-text;
  }
}

.contacts__requisites {
  @media (max-width: $tablet) {
    display: flex;
    height: 44px;
  }

  @media (max-width: $mobile) {
    display: grid;
    gap: 30px;
  }
}

.contacts__requisites svg {
  margin-top: 10px;
}
