.contacts-wrapper__phone {
  margin-bottom: 35px;
  display: flex;

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.contacts-wrapper__phone svg {
  margin-right: 30px;

  @media (max-width: $mobile) {
    margin-right: 10px;
  }
}

.contacts-wrapper__mail {
  margin-bottom: 35px;
  display: flex;

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.contacts-wrapper__mail svg {
  margin-right: 30px;


  @media (max-width: $mobile) {
    margin-right: 10px;
  }
}

.contacts-wrapper__address svg {
  margin-right: 30px;


  @media (max-width: $mobile) {
    margin-right: 10px;
  }
}

.contacts-wrapper__address {
  display: flex;
}

.contacts-wrapper {
  display: flex;
  gap: 115px;
  width: 100%;

  @media (max-width: $tablet) {
    display: grid;
    gap: 0;
  }
}

.contacts-wrapper img {
  margin-top: 16px;
}
