.contacts {
  padding: 87px 0 45px;

  @media (max-width: $tablet) {
    padding-top: 59px;
    padding-bottom: 39px;
  }

  @media (max-width: $mobile) {
    padding-top: 48px;
  }
}

.contacts__title {
  margin: 0 0 23px 0;

  @media (max-width: $tablet) {
    @include small-title;
    margin-bottom: 17px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 11px;
  }
}

.contacts__texts-wrapper {
  width: 40%;
}

.contacts__texts-wrapper p {
  @include smaller-text;
  margin: 0 0 50px;

  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 30px;
    max-width: 320px;
  }
}

.contacts__cover {
  display: grid;
  gap: 8px;
}

.contacts__detail-block {
  max-width: 500px;

  @media (max-width: $tablet) {
    max-width: 100%;
  }

  @media (max-width: $mobile) {
    margin-bottom: 25px;
  }
}

.contacts__detail-block p {
  @media (max-width: $tablet) {
    max-width: 480px;
  }
}

.contacts__cover p {
  @media (max-width: $tablet) {
    font-size: 14px;
    line-height: 22px;
  }
}

.contacts__cover span {
  @include semibold;

  @media (max-width: $tablet) {
    @include smallbold;
    font-size: 16px;
  }

  @media (max-width: $mobile) {
    @include semibold;
  }
}

.contacts__cover a {
  @include smaller-text;

  @media (max-width: $tablet) {
    @include regular-text;
  }

  @media (max-width: $mobile) {
    @include smaller-text;
  }
}

.contacts__requisites {
  @media (max-width: $tablet) {
    display: grid;
    grid-template-columns: 153px 159px 288px;
    align-items: flex-start;
    gap: 41px;
  }

  @media (max-width: $mobile) {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
  }
}

.contacts__requisites svg {
  margin-top: 10px;

  @media (max-width: $tablet) {
    margin-top: 0;
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

  @media (max-width: $mobile) {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }
}
