.contacts {
  padding: 65px 120px 95px 120px;

  @media (max-width: $tablet) {
    padding: 40px 0;
  }
}

.contacts__container {
  padding: 0;
}

.contacts__title {
  margin: 19px 0 26px 0;

  @media (max-width: $tablet) {
    margin: 15px 0 20px 45px;
    @include small-title;
  }

  @media (max-width: $mobile) {
    margin: 6px 0 12px 45px;
  }
}

.contacts__texts-wrapper {
  width: 40%;
}

.contacts__texts-wrapper p {
  @include smaller-text;
  margin-bottom: 50px;

  @media (max-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 30px;
    width: 50%;
  }
}

.contacts__cover {
  display: grid;
  gap: 8px;

  @media (max-width: $tablet) {
    gap: 6px;
  }
}

.contacts__detail-block {
  width: 50%;

  @media (max-width: $tablet) {
    margin-left: 45px;
    width: 100%;
  }

  @media (max-width: $mobile) {
    margin-left: 45px;
  }
}

.contacts__cover span {
  @include semibold;

  @media (max-width: $tablet) {
    @include smallbold;
  }

  @media (max-width: $mobile) {
    @include semibold;
  }
}

.contacts__cover a {
  @include smaller-text;

  @media (max-width: $tablet) {
    @include regular-text;
  }

  @media (max-width: $mobile) {
    @include smaller-text;
  }
}

.contacts__requisites {

  @media (max-width: $tablet) {
    display: flex;
    gap: 40px;
  }

  @media (max-width: $mobile) {
    display: grid;
    gap: 30px;
  }
}
