.features__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
   // padding: 42px 120px 81px 120px;
   padding: 42px 0 81px 0;
  display: grid;

  @media (max-width: $mobile) {
    padding: 40px 15px;
  }
}

.features__title {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  justify-items: center;

  @media (max-width: $tablet) {
    @include small-title;
  }

  @media (max-width: $mobile) {
    @include small-title;
    margin-bottom: 20px;
  }
}
