.features-item__title {
  margin: 0;
  @include semibold;
  margin-bottom: 15px;

  @media (max-width: $tablet) {
    @include smallbold-tablet;
  }


  @media (max-width: $mobile) {
    @include semibold-mobile;
  }
}

.features-item p {
  @include regular-text;

  @media (max-width: $mobile) {
    @include extrasmall-text;
  }
}

.features-item svg {
  margin-bottom: 25px;
}

.features-item--safety {

  @media (max-width: $tablet) {
    order: -2;
  }
}

.features-item--knowledge {

  @media (max-width: $tablet) {
    order: -1;
  }
}
