.features-slider {
  margin: 47px 0 50px;

  @media (max-width: $tablet) {
    margin: auto;
  }
}

.features__slider-body {
  @media (max-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  @media (max-width: $mobile) {
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
    width: 100%;
  }
}
