.features {
  padding: 76px 0;
  overflow: hidden;
}

.features__title {
  display: block;
  margin: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 100%;
  text-align: center;

  @media (max-width: $tablet) {
    margin-top: 49px;
  }
}

.features__btns {
  justify-content: center;
}
