.features {
  padding: 0;
}

.features__container {
  padding: 0;
  display: grid;
}

.features__title {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  justify-items: center;

  @media (max-width: $tablet) {
    @include small-title;
  }
}
