.footer-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 30px;

  @media (max-width: $tablet) {
    margin-right: 45px;
  }

  @media (max-width: $mobile) {
    display: grid;
    grid-template-columns: 120px 120px;
    gap: 15px;
    justify-content: center;
  }
}

.footer-nav__item {
  @include small-buttons;

  &:hover, &:focus {
    border-bottom: 1px solid #2D383F;
  }

  &:active {
    outline: 1px solid #2D383F;
  }

  &:disabled,
  &--disabled {
    border: none;
  }
}


