.footer__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 32px 120px;
  display: grid;
  justify-items: center;

  @media (max-width: $tablet) {
    padding: 40px 0 20px 0;
  }

  @media (max-width: $mobile) {
    padding: 23px 15px 20px 15px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  width: 100%;

  @media (max-width: $mobile) {
    display: block;
    text-align: center;
  }
}


.footer__social {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer__container span {
  @include small-caption;
}

.footer__phone {
  @include semibold;
  margin: auto;

  @media (max-width: $tablet) {
    display: none;
  }

  &:hover, &:focus {
    color: #1C3374;
  }

  &:active {
    color: #0266C1;
  }

  &:disabled,
  &--disabled {
    color: #0266C1;
  }
}

.footer__logo {

  @media (max-width: $tablet) {
    margin-left: 45px;
  }

  @media (max-width: $mobile) {
    display: block;
    margin: auto;
  }
}
