.form-block__button {
  @include medium-buttons;
  background-color: #0266c1;
  padding: 20px 20px;
  color: #ffffff;
  width: 180px;

  @media (max-width: $tablet) {
    width: 100%;
  }

  &:hover,
  &:focus {
    border: 1px solid #1c3374;
    background-color: #ffffff;
    color: #1c3374;
  }

  &:active {
    background-color: #1c3374;
  }

  &:disabled,
  &--disabled {
    background-color: #999999;
    color: #ffffff;
    border: none;
  }
}
