.form-block__button {
  background-color: #0266C1;
  padding: 20px 20px;
  @include medium-buttons;
  color: #FFF;
  width: 180px;

  @media (max-width: $tablet) {
    width: 100%;
  }


  &:hover, &:focus {
    border: 1px solid #1C3374;
    background-color: #FFF;
    color: #1C3374;
  }

  &:active {
    background-color: #1C3374;
  }

  &:disabled,
  &--disabled {
    background-color: #999999;
    color: #FFF;
    border: none;
  }
}
