.form {
  background-image: url(../img/form-background-desktop.jpg);
  background-size: 100%;
  padding: 40px;

  @media (max-width: $tablet) {
    padding: 40px 45px;
  }
}

.form__container {
  width: 960px;
  margin: 0 auto;
  display: grid;
  padding: 0;

  @media (max-width: $tablet) {
    width: 40%;
  }
}

.form__title {
  margin: 0;
  margin-top: 293PX;
  margin-bottom: 20px;
  color: #FFF;

  @media (max-width: $tablet) {
    @include small-title;
    margin-top: 186px;
    margin-bottom: 25px;
    color: #FFF;
  }

  @media (max-width: $mobile) {
    @include small-title;
    margin-top: 174px;
  }
}

.form__texts {
  margin: 0 auto;
  margin-bottom: 40px;
  display: grid;
  justify-items: center;
  text-align: center;
}

.form__wrapper {
  display: flex;
  gap: 30px;
  width: 100%;

  @media (max-width: $tablet) {
    display: grid;
  }
}

.form__subtitle {
  @include smaller-text;
  color: #FFF;

  @media (max-width: $mobile) {
    @include extrasmall-text;
    margin-bottom: 20px;
  }
}

.form__container form {
  justify-items: center;
  margin-bottom: 292px;

  @media (max-width: $tablet) {
    margin-bottom: 186px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 174px;
  }
}
