.form {
  background-image: url(../img/form-background-desktop.jpg);
  background-size: cover;
  padding: 295px 0 293px;
}

.form__container {
  max-width: 1040px;
}

.form__texts h2 {
  margin: 0 0 18px;
  @include small-title;
  color: #FFF;

  @media (max-width: $tablet) {
    color: #FFF;
  }
}

.form__texts {
  margin: 0 auto;
  margin-bottom: 40px;
  display: grid;
  justify-items: center;
  text-align: center;
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;

  @media (max-width: $tablet) {
    display: grid;
  }
}

.form__texts span {
  @include smaller-text;
  color: #FFF;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }
}

.form__container form {
  justify-items: center;
}
