.gallery {
  padding: 125px 0 0 0;

  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

.gallery__container {
  padding: 0;
}

.gallery__texts {
  margin: 0 120px;
  margin-bottom: 46px;
}

.gallery__title {
  margin: 19px 0 27px 0;

  @media (max-width: $tablet) {
    @include small-title;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile) {
    margin-top: 6px;
    margin-bottom: 15px;
  }
}

.gallery__texts p {
  @include smaller-text;
  margin: 0;
  width: 60%;

  @media (max-width: $tablet) {
    @include regular-text;
  }

  @media (max-width: $mobile) {
    @include extrasmall-text;
  }
}

.gallery__wrapper {
  display: flex;
  justify-content: space-between;
}

.gallery-block {
  display: flex;
}

.gallery-block--last {

  @media (max-width: $tablet) {
    display: none;
  }
}

.gallery-block--secondary {

  @media (max-width: $mobile) {
    display: none;
  }
}

.gallery__texts {

  @media (max-width: $tablet) {
    margin-bottom: 21px;
  }
}
