.gallery {
  padding-top: 5px;
  overflow: hidden;

  @media (max-width: $mobile) {
    padding-top: 40px;
  }
}

.gallery__texts {
  margin-bottom: 46px;

  @media (max-width: $tablet) {
    margin-bottom: 21px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 17px;
  }
}

.gallery__title {
  margin: 19px 0 27px 0;

  @media (max-width: $tablet) {
    @include small-title;
    margin-top: 60px;
    margin-bottom: 13px;
  }

  @media (max-width: $mobile) {
    margin-top: 6px;
    margin-bottom: 15px;
  }
}

.gallery__texts p {
  @include smaller-text;
  margin: 0;
  width: 60%;

  @media (max-width: $tablet) {
    @include regular-text;
  }

  @media (max-width: $mobile) {
    @include extrasmall-text;
    width: 290px;
  }
}

.gallery__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile) {
    display: block;
  }
}

.gallery-block {
  display: inline-flex;
  width: auto;
  gap: 5px;
}

.gallery-block img {
  display: block;
  object-fit: cover;
}

@media (max-width: $tablet) {
  .gallery__slider {
    height: 452px;
  }

  .gallery-item__block img {
    height: 100%;
    width: 252px;
  }

  .gallery-item__cover {
    display: flex;
    flex-direction: column;
  }

  .gallery-item__cover picture {
    flex-grow: 1;
  }
}

@media (max-width: $mobile) {
  .gallery__slider {
    height: 260px;
    padding: 0 15px;
  }

  .gallery-item__block img {
    width: 158px;
  }

  .gallery-item {
    overflow: hidden;
  }
}
