.header {
  background-color: #0266C1;
  padding: 32px 20px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: -142px;
  z-index: 2;
  position: relative;

  @media (max-width: $tablet) {
    padding: 0 45px;
  }

  @media (max-width: $mobile) {
    padding: 15px;
  }
}

.header__button-close {
  display: none;
  background-color: #0266C1;
  border: none;
  position: absolute;
  top: 42px;
  left: 42px;
}

.header--opened {
  background-color: #fff;
}

.header__container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header__contacts {
  @include semibold;
  padding: 30px 0;
  color: #FFFFFF;

  @media (max-width: $tablet) {
    color: #FFFFFF;
  }
  @media (max-width: $mobile) {
    padding: 14px 0;
    color: #FFFFFF;
    margin-left: 73px;
  }

  &:hover, &:focus {
    color: #1C3374;
  }

  &:active {
    color: #FFFFFF;
    opacity: 0.5;
  }

  &:disabled,
  &--disabled {
    color: #FFFFFF;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;

  @media (max-width: $tablet) {
    width: 60%;
    justify-content: space-between;
    margin-top: 5px;
  }

  @media (max-width: $mobile) {
    display: grid;
    gap: 14px;
    width: 30%;
  }
}

.header__icon-wrapper {
  display: none;
  background-color: #0266C1;
  border: none;


  @media (max-width: $tablet) {
    display: block;
    align-items: center;
    justify-content: center;
  }
}
