.hero-slider {
  position: relative;
}

.hero-slider__buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 40px;
  bottom: 16px;

  @media (max-width: $tablet) {
    position: static;
    margin: 132px auto 0;
    justify-content: center;
  }
}

.hero-slider__button {
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 100%;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.hero-slider__button--active {
  background-color: #ffffff;
}

.hero-slider__slide {
  position: relative;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 62px 420px;
  grid-template-rows: min-content min-content;

  @media (max-width: $tablet) {
    display: block;
  }
}

.hero-slider__texts {
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 1;
}

.hero-slider__media {
  position: relative;
  grid-column: 2/4;
  grid-row: 1/3;
  margin-top: 128px;

  @media (max-width: $tablet) {
    margin-top: 45px;
  }

  iframe {
    border: none;

    @media (max-width: $tablet) {
      width: 442px;
      height: 300px;
    }
  }
}

.hero-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 56px;
  height: 56px;
  border: 1px solid #ffffff;
  border-radius: 100%;

  @media (max-width: $tablet) {
    right: 44%;
    bottom: 35%;
  }

  &:hover,
  &:focus {
    border: none;
  }

  &:active {
    background-color: #1c3374;
  }

  &:disabled,
  &--disabled {
    background-color: #0266c1;
    opacity: 0.1;

    svg {
      fill: #0266c1;
    }
  }
}

.hero-slider__play-button svg {
  fill: #ffffff;
}
