.hero-footer__button {
  @include extrasmall-text;
  color: #FFF;
}

.hero-footer {
  display: flex;
  gap: 10px;

  @media (max-width: $tablet) {
    display: none;
  }
}

.hero-footer__wrapper {
  border: 1px solid rgba(255, 255, 255, 0.50);
  padding: 12px 20px;
  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
  }
}
