.hero {
  background-image: url("../img/hero-background-desktop.jpg");
  position: relative;
}

.hero__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 200px 120px 80px 120px;

  @media (max-width: $tablet) {
    text-align: center;
    padding: 200px 100px 80px 100px;
  }

  @media (max-width: $mobile) {
    padding: 40px 15px;
  }
}

.hero__container h1 {
  @include huge-title;
  margin-bottom: 25px;
  color: #FFF;

  @media (max-width: $tablet) {
    margin-top: 73px;
    margin-bottom: 15px;
  }
}

.hero__container p {
  @include text;
  margin-bottom: 35px;
  width: 40%;
  color: #FFF;

  @media (max-width: $tablet) {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 93%;
  }

  @media (max-width: $mobile) {
    @include text;
    color: #FFF;
    margin-bottom: 60px;
  }
}

.hero__button {
  width: 180px;
  background-color: #0266C1;
  padding: 20px;
  text-transform: uppercase;
  @include big-buttons;
  color: #FFF;
  margin-bottom: 134px;

  @media (max-width: $tablet) {
    @include medium-buttons;
    color: #FFF;
    text-transform: none;
    width: 180px;
    display: block;
    margin: 0 auto;
  }

  @media (max-width: $tablet) {
    @include medium-buttons;
    color: #FFF;
  }

  &:hover, &:focus {
    border: 1px solid #1C3374;
    background-color: #FFF;
    color: #1C3374;
  }

  &:active {
    background-color: #1C3374;
  }

  &:disabled,
  &--disabled {
    background-color: #999999;
    color: #FFF;
    border: none;
  }
}

.hero__slider {
  position: absolute;
  top: 53%;
  right: 62px;

  @media (max-width: $tablet) {
    right: 37%;
    top: 71%;
  }
}

.hero__footer {
  margin-top: 134px;
}

.hero-footer__wrapper span {
  @include extrasmall-text;
  color: #FFF;
}
