.item-footer__stars {
  display: flex;
  gap: 1px;
}

.item-footer__title {
  @include small-caption;
  color: #ffffff;
}

.item-footer__subtitle {
  @include big-caption;
  margin: 0;
  color: #ffffff;

  @media (max-width: $tablet) {
    font-size: 13px;
    line-height: 13px;
  }
}

.item-footer__stars svg {
  display: block;
}

.item-footer__wrapper {
  margin-right: 28px;

  @media (max-width: $mobile) {
    margin-right: 23px;
  }
}
