.item-footer__stars {

  @media (max-width: $tablet) {
    display: flex;
    gap: 1px;
  }
}

.item-footer__title {
  @include small-caption;
  color: #FFFF;
}

.item-footer__subtitle {
  margin: 0;
  @include big-caption;
  color: #FFFF;

  @media (max-width: $tablet) {
    font-size: 13px;
    line-height: 13px;
  }
}

.item-footer__stars {
  display: flex;
  gap: 1px;
}

.item-footer__stars svg {
  display: block;
}

.item-footer__wrapper {
  margin-right: 28px;
}
