.learning-footer {
  margin-top: 56px;
  padding-bottom: 20px;

  @media (max-width: $tablet) {
    margin-top: 26px;
  }
}

.learning-footer__heading {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;

  @media (max-width: $tablet) {
    font-size: 18px;
  }
}

.learning-footer__list {
  margin: 24px 0 0;
  padding: 0 10px;
  list-style: none;
  display: flex;

  @media (max-width: $tablet) {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 208px 240px;
    gap: 89px 135px;
  }
}

.learning-footer__item svg {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.learning-footer__item {
  display: flex;
  gap: 10px;
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 253px;

  @media (max-width: $tablet) {
    font-size: 14px;
    line-height: 22px;
    &:nth-last-child(1) {
      order: 2;
    }

    &:nth-last-child(2) {
      order: 3;
    }
  }

  &::after {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #0266C1;
    position: absolute;
    left: 0;
    bottom: -19px;

    @media (max-width: $mobile) {
      left: -33px;
      bottom: 8px;
    }
  }

  @media (max-width: $tablet) {
    &:nth-last-child(1), &:nth-last-child(2) {
      &::after {
        bottom: initial;
        top: -20px;
      }
    }
  }
}

.learning-footer {
  position: relative;

  &::after {

    @media (max-width: $mobile) {
      content: "";
      width: 1px;
      height: 183px;
      background-color: #0266C1;
      opacity: 0.2;
      position: absolute;
      top: 13px;
      left: -26px;
    }
  }

  &::before {
    @media (max-width: $tablet) {
      content: "";
      width: 345px;
      height: 56px;
      border: 1px solid rgba(2, 102, 193, 0.1);
      border-left: none;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
