.learning {
  padding: 0 120px;
}

.learning__container {
  padding: 0;
}

.learning__subtitle {
  @include smaller-text;
  color: #FFFF;
  margin-bottom: 56px;
}

.learning__title {
  margin-bottom: 38px;
}

.learning__footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 56px;

  @media (max-width: $tablet) {
    grid-template-columns: 208px 208px;
    display: grid;
    gap: 91px 72px;
    margin: 0 auto;
  }
}
