.learning {
  padding-top: 153px;

  @media (max-width: $tablet) {
    padding-top: 50px;
  }
}

.learning__subtitle {
  @include subtitle;
  margin: 0;

  @media (max-width: $tablet) {
    font-size: 21px;
  }
}

.learning__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 120px;

  @media (max-width: $tablet) {
    padding: 65px 45px 50px 45px;
  }

  @media (max-width: $mobile) {
    padding: 20px 15px;
  }
}

.learning__wrapper span {
  @include smaller-text;
  display: table;
  margin: 20px 0 0;

  @media (max-width: $tablet) {
    display: block;
    width: 80%;
  }
}

.learning__title {
  margin: 0;

  @media (max-width: $tablet) {
    font-size: 25px;
  }

  @media (max-width: $mobile) {
    @include small-title;
  }
}

.learning__cover {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.learning__buttons {
  margin-top: 15px;
}

.learning__slider {
  margin-top: 20px;
}
