.learning-item {
  padding: 15px;
  border: 1px solid rgba(2, 102, 193, 0.10);
  background-color: #fff;
}

.learning-item__title {
  @include smallbold;
  display: table;
  max-width: 140px;
  margin-top: 3px;
}

.learning-item p {
  @include extrasmall-text;
  margin: 15px 0 0;

  @media (max-width: $tablet) {
    line-height: 16px;
  }
}

.learning-item img {
  margin-bottom: 15px;
}

.learning-item__info {
  display: flex;
  justify-content: space-between;
}

.learning-item__social-link svg {
  background-color: #fff;
}

.learning-item__social-link path {
  fill: #2D383F;
}

.learning-item__social-link {
  rect {
    stroke: #2D383F;
    opacity: 0.3;
  }

  &:hover, &:focus {
    rect {
      stroke: #2D383F;
      opacity: 1;
    }
  }

  &:active {
    rect {
      fill: #0266C1;
    }

    path {
      fill: #FFF;
    }
  }

  &:disabled,
  &--disabled {
    rect {
      fill: #fff;
      opacity: 1;
    }

    path {
      fill: #999999;
    }
  }
}
