.learning-slider__title {
  @include subtitle;
  margin: 0;
}

.learning-slider__cover {
  display: flex;
  justify-content: space-between;
}

.learning-slider {
  display: flex;
}

.learning-slider__item {

  @media (max-width: $mobile) {
    padding: 15px;
  }
}.learning-slider__item div {
  display: flex;
  justify-content: space-between;
}
