.menu-nav {
  @include small-buttons;
  display: flex;
  margin: 0;
  padding: 0 0 0 25px;
  gap: 30px;
  list-style-type: none;

  @media (max-width: $tablet) {
    display: none;
  }
}

.menu-nav--opened {
  padding: 50px 45px 70px 45px;
  display: grid;
  gap: 26px;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-nav__item {
  color: #ffffff;

  &:hover,
  &:focus {
    border-bottom: 1px solid #ffffff;
  }

  &:active {
    outline: 1px solid #ffffff;
  }

  &:disabled,
  &--disabled {
    border: none;
  }
}
