.reviews {
  padding: 98px 0 0;
  overflow: hidden;

  @media (max-width: $tablet) {
    padding-top: 23px;
  }
}

.reviews__cover {
  display: flex;
  justify-content: space-between;
}

.reviews__title {
  @include small-title;
  margin: 11px 0 0;

  @media (max-width: $mobile) {
    margin-bottom: 15px;
  }
}

.reviews__slider-buttons {
  margin-top: -11px;

  @media (max-width: $tablet) {
    margin-top: 0;
  }
}
