.reviews-item__texts {
  @include regular-text;

  @media (max-width: $tablet) {
    @include extrasmall-text;
  }

  @media (max-width: $mobile) {
    @include text;
    margin-top: 19px;
  }
}

.reviews-item__texts p {
  margin: 0;

  @media (max-width: $tablet) {
    line-height: 19px;
    margin-bottom: 7px;
  }

  @media (max-width: $mobile) {
    font-size: 12px;
    line-height: 18px;
  }
}

.reviews-item__title {
  @include big-caption;
  display: block;
  margin: 12px 0 4px;

  @media (max-width: $tablet) {
    margin-top: 22px;
  }

  @media (max-width: $mobile) {
    @include big-caption;
    margin-top: 17px;
  }
}

.reviews-item__subtitle {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;

  @media (max-width: $mobile) {
    @include small-caption;
  }
}
