.slider-buttons {
  display: flex;
  gap: 4px;
  align-items: center;
}

.slider-buttons__item svg {
  fill: #ffffff;
}

.slider-buttons__item {
  width: 37px;
  height: 35px;
  padding: 17px 12px;
  background-color: #0266c1;
  display: flex;
  align-items: center;

  @media (max-width: $tablet) {
    padding: 17px 12px;
  }

  &:hover,
  &:focus {
    outline: 1px solid #1c3374;
    background-color: #ffffff;

    svg {
      fill: #1c3374;
    }
  }

  &:active {
    background-color: #1c3374;

    svg {
      fill: #ffffff;
    }
  }

  &:disabled,
  &--disabled {
    background-color: #999999;
    color: #ffffff;
    border: none;

    svg {
      fill: #ffffff;
    }
  }
}

.slider-buttons--feature {
  @media (max-width: $tablet) {
    display: none;
  }
}

.slider-buttons--gallery {
  @media (max-width: $tablet) {
    width: 33px;
    height: 33px;
  }

  @media (max-width: $mobile) {
    width: 37px;
    height: 35px;
  }
}

.slider-buttons-item--tours {
  margin: 0;
}
