.slider-item__cover {
  background-color: #0266C1;
  width: 94px;
  padding: 6px 12px;
  display: flex;
  gap: 6px;
  @include medium-caption;
  color: #FFF;
  margin-bottom: 15px;
  margin-right: 27px;

  @media (max-width: $tablet) {
    margin-right: 42px;
  }
}

.slider-item h2 {
  @include item-title;
  color: #FFF;
  margin: 0;
  margin-bottom: 30px;

  @media (max-width: $tablet) {
    font-size: 27px;
    margin-bottom: 23px;
  }
}

.slider-item__top {
  display: flex;
  margin-bottom: 15px;

  @media (max-width: $tablet) {
    margin-bottom: 0;
  }
}

.slider-item__wrapper {
  display: flex;
  gap: 12px;
  margin-right: 14px;
}

.slider-item__point {
  @include medium-caption;
  color: #FFF;

  @media (max-width: $tablet) {
    font-size: 13px;
    line-height: 23px;
  }
}

.slider-item__footer {
  display: flex;
  gap: 30px;
}

.slider-item__main-wrapper {
  position: absolute;
  top: 105px;
  left: 0;
  padding: 30px 20px;

  @media (max-width: $tablet) {
    top: 195px;
  }
}

.slider-item {
  position: relative;
}

.main-wrapper--fisht {
  top: 73px;
}

.main-wrapper--beluha {
  top: 71px;

  @media (max-width: $tablet) {
    width: 100%;
    top: 195px;
  }
}

.slider-item--last {

  @media (max-width: $tablet) {
    display: none;
  }
}

.slider-cover--beluha {

  @media (max-width: $tablet) {
    margin-right: 24px;
  }
}
