.slider-item__cover {
  background-color: #0266C1;
  width: 94px;
  padding: 6px 12px;
  display: flex;
  gap: 6px;
  @include medium-caption;
  color: #FFF;
  margin-bottom: 15px;
  margin-right: 27px;
}

.slider-item h2 {
  @include item-title;
  color: #FFF;
  margin: 0;
  margin-bottom: 30px;
}

.slider-item__top {
  display: flex;
  margin-bottom: 15px;
}

.slider-item__wrapper {
  display: flex;
  gap: 12px;
  margin-right: 14px;
}

.slider-item__point {
  @include medium-caption;
  color: #FFF;
}

.slider-item__footer {
  display: flex;
  justify-content: space-between;
}

.item-footer__title {
  @include small-caption;
  color: #FFFF;
}

.item-footer__subtitle {
  @include big-caption;
  color: #FFFF;
}

.slider-item__main-wrapper {
  position: absolute;
  top: 105px;
  left: 0;
  padding: 30px 20px;
}

.slider-item {
  position: relative;
}

.main-wrapper--fisht {
  top: 73px;
}

.main-wrapper--beluha {
  top: 71px;
}
