.slider-item__cover {
  @include medium-caption;
  background-color: #0266c1;
  padding: 6px 12px;
  display: flex;
  gap: 6px;
  color: #ffffff;
  margin-right: auto;
}

.slider-item h2 {
  @include item-title;
  color: #ffffff;
  margin: 0 0 22px;

  @media (max-width: $tablet) {
    margin-top: 14px;
    margin-bottom: 23px;
  }

  @media (max-width: $mobile) {
    font-size: 24px;
  }
}

.slider-item__top {
  display: flex;
  margin-bottom: 15px;

  @media (max-width: $tablet) {
    margin-bottom: 0;
  }
}

.slider-item__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  & + & {
    margin-left: 14px;
  }
}

.slider-item__point {
  @include medium-caption;
  color: #ffffff;

  @media (max-width: $tablet) {
    font-size: 13px;
    line-height: 23px;
  }
}

.slider-item__footer {
  display: flex;
}

.slider-item__main-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px 20px;
}

.slider-item {
  position: relative;
}

.slider-item--last {
  @media (max-width: $tablet) {
    display: none;
  }
}
