.social__link path {
  fill: #2D383F;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  &:hover, &:focus {
    border: 1px solid #1C3374;
    background-color: #FFF;

    path {
      fill: #1C3374;
    }
  }

  &:active {
    background-color: #1C3374;

    path {
      fill: #FFF;
    }
  }
}
