.social__link path {
  fill: #2d383f;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  &:hover,
  &:focus {
    border: 1px solid #1c3374;
    background-color: #ffffff;

    path {
      fill: #1c3374;
    }
  }

  &:active {
    background-color: #1c3374;

    path {
      fill: #ffffff;
    }
  }
}
