.tours {
  padding: 100px 120px;

  @media (max-width: $tablet) {
    padding: 45px;
  }

  @media (max-width: $mobile) {
    padding: 20px;
  }
}

.tours__container {
  padding: 0;
}

.tours__wrapper {
  display: flex;
}

.tours__order-button {
  display: block;
  margin: auto;
  width: 237px;
  padding: 10px;
  @include big-buttons;
  text-transform: uppercase;

  @media (max-width: $mobile) {
    @include big-buttons;
  }
}

.tours__order-button svg {
  margin-left: 12px;
}

.tours__cover {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tours__slider-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.tours__title--fisht {
  width: 71%;
}

.tours__title--beluha {
  width: 65%;
}
