.tours__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 100px 120px;

  @media (max-width: $tablet) {
    padding: 45px;
  }

  @media (max-width: $mobile) {
    padding: 20px;
  }
}

.tours__wrapper {
  display: flex;
}

.tours__order-button svg {
  fill: #FFF;
  margin-left: 12px;

  @media (max-width: $tablet) {
    margin-left: 10px;
  }
}
.tours__order-button {
  display: block;
  margin: auto;
  width: 237px;
  padding: 10px;
  @include big-buttons;
  text-transform: uppercase;

  @media (max-width: $tablet) {
    font-size: 17px;
    margin-top: -65px;
  }

  &:hover, &:focus {
    color: #1C3374;

    svg {
      stroke: #1C3374;
    }
  }

  &:active {
    color: #0266C1;

    svg {
      stroke: #0266C1;
    }
  }

  &:disabled,
  &--disabled {
    color: #0266C1;

    svg {
      display: none;
    }
  }
}

.tours__cover {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tours__slider-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet) {
    gap: 3px;
  }
}

.tours__title {

  @media (max-width: $tablet) {
    margin-top: 22px;
    margin-bottom: 23px;
    font-size: 35px;
  line-height: 35px;
  }
}

.tours__title--fisht {
  width: 71%;
}

.tours__title--beluha {
  width: 65%;

  @media (max-width: $tablet) {
    font-size: 26px;
  }
}
