@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

// шрифтовые миксины
//заголовки
@mixin huge-title {
  font-size: 77px;
  font-weight: 800;
  line-height: 1;

  @media (max-width: $tablet) {
    font-size: 56px;
  }

  @media (max-width: $mobile) {
    font-size: 30px;
  }
}

@mixin title {
  font-size: 55px;
  font-weight: 800;
  line-height: 1;
  color: #2d383f;

  @media (max-width: $mobile) {
    font-size: 26px;
  }
}

@mixin small-title {
  font-size: 35px;
  font-weight: 800;
  line-height: 1;
  color: #2d383f;

  @media (max-width: $tablet) {
    font-size: 25px;
  }

  @media (max-width: $mobile) {
    font-size: 22px;
  }
}

@mixin item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #2d383f;

  @media (max-width: $mobile) {
    font-size: 20px;
    line-height: 24px;
  }
}

@mixin subtitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #2d383f;

  @media (max-width: $tablet) {
    font-size: 18px;
  }

  @media (max-width: $mobile) {
    font-size: 16px;
  }
}

@mixin semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #2d383f;

  @media (max-width: $tablet) {
    font-size: 16px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

@mixin smallbold {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #2d383f;
}


@mixin text {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #2d383f;
}

@mixin smaller-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2d383f;

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin regular-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #2d383f;
}

@mixin extrasmall-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #2d383f;

  @media (max-width: $tablet) {
    line-height: 18px;
  }
}

@mixin big-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: #2d383f;
}

@mixin medium-caption {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #2d383f;

  @media (max-width: $mobile) {
    font-size: 12px;
  }
}


@mixin small-caption {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #2d383f;
}

@mixin big-buttons {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #2d383f;

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

@mixin medium-buttons {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #2d383f;
}

@mixin small-buttons {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #2d383f;

  @media (max-width: $tablet) {
    font-size: 14px;
  }
}
