@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

// шрифтовые миксины

@mixin huge-title {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 77px;
  font-style: normal;
  font-weight: 800;
  line-height: 77px;
  color: #2D383F;
}

@mixin title {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px;
  color: #2D383F;
}

@mixin small-title {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  color: #2D383F;
}

@mixin item-title {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #2D383F;
}

@mixin subtitle {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  color: #2D383F;
}

@mixin semibold {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  color: #2D383F;
}

@mixin smallbold {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #2D383F;
}


@mixin text{
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #2D383F;
}

@mixin smaller-text {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #2D383F;
}

@mixin regular-text {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #2D383F;
}

@mixin extrasmall-text {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #2D383F;
}

@mixin big-caption {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  color: #2D383F;
}

@mixin medium-caption {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  color: #2D383F;
}

@mixin small-caption {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px;
  color: #2D383F;
}

@mixin big-buttons{
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #2D383F;
}

@mixin medium-buttons {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #2D383F;
}

@mixin small-buttons {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #2D383F;
}

// шрифтовые миксины на планшетку

@mixin huge-title-tablet {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  color: #2D383F;
}

@mixin title-tablet {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  color: #2D383F;
}

@mixin small-title-tablet {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  color: #2D383F;
}

@mixin item-title-tablet {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #2D383F;
}

@mixin subtitle-tablet {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: #2D383F;
}

@mixin semibold-tablet{
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  color: #2D383F;
}

@mixin smallbold-tablet {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: #2D383F;
}

@mixin extra-smallbold-tablet{
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #2D383F;
}

@mixin big-buttons {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #2D383F;
}

@mixin medium-buttons {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #2D383F;
}

@mixin small-buttons {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #2D383F;
}

// шрифтовые миксины на мобилку

@mixin huge-title-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  color: #2D383F;
}

@mixin title-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  color: #2D383F;
}

@mixin small-title-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  color: #2D383F;
}

@mixin item-title-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #2D383F;
}

@mixin subtitle-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #2D383F;
}

@mixin semibold-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  color: #2D383F;
}

@mixin text-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #2D383F;
}

@mixin smaller-text-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #2D383F;
}

@mixin big-caption-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  color: #2D383F;
}

@mixin small-caption-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px;
  color: #2D383F;
}

@mixin big-buttons-mobile {
  font-family: 'Monserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  color: #2D383F;
}

// M
// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
